<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials Point - Vue JS</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .mouse-ctrl{
            width: 80px;
            height: 50px;
            background-color: bisque;
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 9pt;
        }

        .creators{
            background-color:paleturquoise;
            list-style: none;
            border: orangered;
            border-width: 10px;
        }
    </style>
</head>

<body>
    <h1>Lets cooking with vue guys</h1>
    <span id="element1">
        I have an idea to create any vue app<br />
        you will see something element that not written in html code :
        <!-- can you see text above on browser when template is exist in app.js ? -->
        <p><b>{{ title }}</b></p>
        {{ author }}<br />
        {{ duration }}<br />
        <p>
            <button v-on:click="playlist = title">+ Add to playlist</button>
            <!-- or you can use v-on alternate -->
            <button @click="playlist = '' ">- Remove from playlist</button><br /><br />
            <button @click="changeTitle">Move to another cooking tutorial</button>
            <button @click="selfTitle('How to make Lemon Juice', 'Wisnu', '5 min')">Add yourself tutorial ! *new
                feature</button>
        </p>
        <span>
            <button v-if="!showPlaylist" @click="toggleShowPlaylist">Show playlist</button>
            <!-- you can use it too : -->
            <!-- <button v-else="showPlaylist" @click="toggleShowPlaylist">Hide playlist</button> -->
            <button v-if="showPlaylist" @click="toggleShowPlaylist">Hide playlist</button>
        </span>
        <!-- this is fastest because it just hidden by css not from the dom : -->
        <p v-show="showPlaylist">...playlist loading</p>
        <p v-if="showPlaylist">
            Playlist : <br/>
            {{ playlist }}
        </p>
        <br/>
        <br/>

        <div class="mouse-ctrl" @mouseover="handleMouseEvent($event, 'you are using mouseover')"><b>mouse hover (on focus)</b></div>
        <div class="mouse-ctrl" @mouseleave="handleMouseEvent"><b>double click</b></div>
        <div class="mouse-ctrl" @dblclick="handleMouseEvent"><b>mouse leave (on blur)</b></div>
        <div class="mouse-ctrl" @mousemove="handleMouseMove"><b>mouse move {{x}} {{y}}</b></div>
        
        <div>
            Some videos you might interest :
            <ul>
                <li v-for="item in anotherPlaylist">{{item.title}} - {{item.author}}</li>
            </ul>
        </div>
        <!-- how to use bind (v-bind or just "" : " mark) : -->
        <a v-bind:href="myurl" >Find on Google !</a>
        <br>
        <br>
        <button @click="toggleCreatorList()" >Hide Creators</button>
        <li @click="toggleCreatorMode(item)" v-for="item in filteredPlaylist" :class="{creators: item.creatorMode}" >
            <p >{{item.name}}</p>
            <img :src="item.img" style="width: 100px; height: auto;" alt="">
        </li>
    </span>
    <br />
    <br />
    {{ duration }}
    <!-- you cannot use outside the id, right -->
    <script src="app.js"></script>
    
</body>

</html>